name: CI

on:
  push:
    branches:
      - master
      - main
      - develop
  pull_request:
    branches:
      - master
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Begin CI...
        uses: actions/checkout@v6

      - name: Use Node 20
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 20.x

      - name: Use cached node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: nodeModules-${{ hashFiles('**/package-lock.lock') }}
          restore-keys: |
            nodeModules-

      - name: Install dependencies
        run: npm install
        env:
          CI: true

      - name: Test
        run: npm test
        env:
          CI: true
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: dermatologist/medpromptjs

      - name: Build
        run: npm run build
        env:
          CI: true
